/* 基本元素重置 */
html { overflow-x:hidden; }
*{margin:0px; padding:0px;}
body,html{font-size:12px; font-family:"Microsoft YaHei",SimSun,SimHei; color:#686868; background-color:#FFF; }
img{border:0px;}
a{text-decoration:none; color:#404242; outline:none;}
div{margin:0px auto;}
li,dl,dt,dd{list-style-type:none;}
input,textarea,select,option,em,h1,h2,h3,h4,h4,h6,strong,span,li,dl,dt,td{font-size:12px;}
h1,h2,h3,h4,h5,h6,em,i{font-style:normal; font-weight:400; outline:none;}

/* 重用类样式 */
.f_l{float:left !important;}
.f_r{float:right !important;}
.no_margin{margin:0px !important;}
.no_border{border:0px !important;}
.no_bg{background:none !important;}
.clear_both{clear:both !important;}
.display_block{display:block !important;}
.text_over{overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -moz-binding: url('ellipsis.xml#ellipsis');}

/* 重用自定义样式 */
.w_100{width:100%;}
.w_95{width:95%;}
.indextx{width:980px;margin:0 auto; margin-top:10px; background:#FFFFFF;}
.w_min_width{min-width:1200px;}
.w_1200{width:1200px;}
.w_1067{width:1067px;}
.w_980{width:980px;}
	
/* header */
.header_full{
	height:92px; 
	border-bottom:1px solid #51AACA;
}
.header{
	width:1200px;
}
/* left */
.logo{
	width:130px; 
	height: 50px;
	line-height: 50px;
	margin-top:25px; 
}
.logo span{
	font-size: 20px;
}
/* right */
.top_right{
	width:748px;
}
/* top_link */
.top_link{
	padding-top:24px; 
	height:26px; 
	line-height:26px; 
	padding-right:35px; 
	text-align:right;
}
.top_link i{
	color:#686868;
}
.top_link span,.top_link a{
	color:#46AAFE;
}
.top_link a{
	font-size:13px;
}
.top_link a:hover{
	text-decoration:underline;
}
/*  nav */
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.nav_bar{
	position:relative; 
	z-index:1; 
	height:42px; 
	line-height:42px; 
	color:#333;
}
.nav{
	position:relative; 
	width:748px; 
	margin:0 auto;  
	font-family:"Microsoft YaHei",SimSun,SimHei; 
	font-size:14px;
}
.nav a{
	color:#333;
}
.nav h3{
	font-size:100%; 
	font-weight:normal;
}
.nav h3 a{
	display:block; 
	width:120px; 
	text-align:center; 
	font-size:14px;
}
.nav .m{
	float:right; 
	position:relative; 
	z-index:1;
}
.nav .s{
	float:right; 
	width:3px; 
	text-align:center; 
	color:#D4D4D4; 
	font-size:12px;
}
.nav .sub{
	display:none; 
	position:absolute; 
	left:-3px; 
	top:42px; 
	z-index:1; 
	width:128px; 
	border:1px solid #E6E4E3; 
	border-top:0;  
	background:#fff;
}
.nav .sub li{
	text-align:center; 
	padding:0 8px; 
	margin-bottom:-1px;
}
.nav .sub li a{
	display:block;  
	border-bottom:1px solid #E6E4E3; 
	padding:8px 0; 
	height:28px; 
	line-height:28px; 
	color:#666;
}
.nav .sub li a:hover{
	color:#1E95FB;
}
.nav .block{
	height:3px; 
	width:126px; 
	background:#1E95FB; 
	position:absolute; 
	left:0; top:39px; 
	overflow:hidden;
}
/*banner */
.full_banner{width:100%; position:relative; height:450px; background:#FFF; overflow:hidden;}
.full_banner .bd{margin:0 auto; position:relative; z-index:0; overflow:hidden;}
.full_banner .bd ul{width:100% !important;}
.full_banner .bd li{width:100% !important; float:left; height:450px; overflow:hidden; text-align:center;}
.full_banner .bd li a{ display:block; height:450px;}
.full_banner .hd{width:100%; position:absolute; z-index:1; bottom:0; left:0; height:30px; line-height:30px; text-align:center;}
.full_banner .hd ul{text-align:center; padding-top:5px;}
.full_banner .hd ul li{cursor:pointer; display:inline-block; *display:inline; zoom:1; width:8px; height:8px; margin:5px; background:url(../images/tg_flash_p.png) -18px 0; overflow:hidden; 
line-height:9999px; 
}
.full_banner .hd ul .on{background-position:0px 0px;}